
.nav-cabinet__list {
  display: flex;
  align-items: center;
}

.ref-content {
  padding: 48px;
  background-color: var(--light-color);
  display: flex;
  border-radius: 0px 0px 24px 24px;
  gap: 48px;
  img {
    border-radius: 24px;
    @include big-desktop {
      width: 50%;
      object-fit: contain;
    }
    @include desktop {
      display: none;
    }
  }

}

.cabinet-ref__link {
  color: #1B2E3F;
  font-size: 16px;
  line-height: 22px;
}

.ref-content-left-reflink,
.ref-content-promocode {
  padding-bottom: 24px;
  border-bottom: 1px solid #DDE0F0;
}

.ref-content-left {
  display: flex;
  flex-direction: column;
}


.input-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 15px;

  svg {
    width: 24px;
    height: 24px;
    fill: #7EA373;
  }
}

.input-field {
  padding-right: 30px;
}

.icon-container {
  cursor: pointer;
  position: absolute;
  top: 51%;
  right: 57%;
  transform: translateY(-50%);
  img {
    width: 24px;
    height: 24px;
  }
}

.input-container-input {
  width: 100% !important;
  font-size: 16px;
  line-height: 22px;
  border-radius: 30px;
  background: linear-gradient(180deg, #ECF0EA 0%, #ECF0EA 100%);
  color: #7EA373;
}

.input-container-btn {
  padding: 18px 45px;
  border-radius: 30px;
  background: #F6F8FC;
  color: #7EA373;
  font-size: 16px;
  line-height: 22px;
  transition: background-color .2s ease-in-out;
  &:hover{
    background: #7EA373;
    color: var(--primary-color);
  }
}

.ref-content-left-title {
  margin: 0;
  margin-bottom: 4px;
  color: #1B2E3F;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  &-promo {
    margin-top: 30px;
  }
}

.ref-content-left-text {
  color: #B5BBDB;
  font-size: 16px;
  line-height: 22px;
}
