.tasks-content {
  display: flex;
  padding: 48px;
  background-color: var(--light-color);
  border-radius: 0 0 24px 24px;
  @include small-tablet {
    padding: 24px;
  }

  &-left {
    margin-right: 48px;
    @include small-tablet {
      margin-right: 0;
    }
  }

}

.swiper-slide-title {
  margin: 0;
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 400;
  @include mobile {
    font-size: 26px;
    line-height: 32px;
  }
}

.swiper-slide-decr {
  color: #B5BBDB;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 155px;
  @include mobile {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 50px;
  }

  span {
    cursor: pointer;
    color: var(--amulet-color);
    text-decoration-line: underline;
    transition: color .2s ease-in-out;
    @include hov-mobile {
      &:hover{
        color: var(--primary-color);
      }
    }
  }
}

.swiper-slide-text {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 22px;
}

.social-task {
  display: flex;
  align-items: center;
  gap: 25px;
}

.tasks-content-img {
  border-radius: 24px;
  @include big-desktop {
    display: none;
  }
}
