.transaction-container {
  padding: 24px;
  background-color: var(--light-color);
  @include mobile {
    padding: 12px;
  }
  svg {
    margin-left: 50%;
    width: 50px;
    height: 50px;
    fill: #B5BBDB;
  }
}

.transactions-item {
  padding: 12px 24px;
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &-odd {
      background: #F6F8FC;
  }

  &-even {
    background: #b5bbdb57;
  }
}

.transactions-item-left {
  display: flex;
  img {
    margin-right: 16px;
    @include mobile {
      height: 32px;
      width: 32px;
      margin: auto 8px auto 0;
    }
  }
}

.transactions-item-left-wrap {
  display: flex;
  flex-direction: column;
}

.transactions-item-right {
  display: flex;
  flex-direction: column;
}

.transactions-name,
.transactions-total {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 22px;
}

.transactions-date,
.transactions-status {
  color: #B5BBDB;
  font-size: 16px;
  line-height: 22px;
}

.transactions-status {
  font-size: 18px;
  color: red;
}



