.container-cabinet-content {
  display: flex;
  padding: 48px;
  background: var(--light-color);
  border-radius: 24px;
  @include tablet {
    padding: 24px;
  }
  img {
    border-radius: 24px;
    @include desktop {
      width: 50%;
    }
    @include mid-desktop {
      display: none;
    }
  }
}

.cabinet-content-right {
  margin-left: 48px;
  @include mobile {
    margin-left: 0;
  }
}


.tags__list {
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  gap: 8px;
  margin-bottom: 48px;
  @include small-tablet {
    margin-bottom: 12px;
  }
}

.tags__item {
  text-align: center;
  border-radius: 24px;
  background: #F6F8FC;
  padding: 12px 20px;
  transition: background-color .2s ease-in-out;
  &:hover{
    background: #7ea373ef;
  }
}

.tags__link {
  color: #B5BBDB;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  &:hover{
    color:var(--light-color)
  }
}

.content-right-title {
  max-width: 100%;
  margin: 0;
  margin-bottom: 12px;
  color: var(--color-primary);
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  @include mobile {
    font-size: 24px;
    line-height: 26px;
  }

}

.content-right-text {
  max-width: 100%;
  margin: 0;
  color: var(--color-primary);
  font-size: 20px;
  line-height: 26px;
  @include mobile {
    font-size: 16px;
    line-height: 20px;
  }
}


.swiper-container {
  overflow: hidden;

}



