.container-event {
  display: flex;
  margin-bottom: 25px;
  padding: 24px;
  border-radius: 24px;
  background-color: var(--light-color);
}

.event-right {
  padding: 48px;
  img {
    border-radius: 24px;
  }

  &-title {
    margin: 0;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
  }

  &-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }

  time {
    color: #B5BBDB;
    font-size: 20px;
    line-height: 26px;
  }
}
