.container-footer {
  @include flex-all-sb;
  margin-top: 25px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}
.social {
  @include flex-all-sb;

  &__link {
    svg {
      display: block;
      object-fit: cover;
      width: 30px;
      height: 30px;
      margin-right: 16px;
      fill: #DDE0F0;
      transition: fill .2s ease;
      &:hover {
        fill: var(--primary-color)
      }
    }
  }
}


.footer-small {
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #B5BBDB;

  &:not(:last-child) {
    margin-right: 16px;
  }

  &:hover {
    color:var(--primary-color)
  }
}
