.header-cabinet {
  border-radius: 24px 24px 0px 0px;
  background: #F1F3FB;
  padding: 8px;
}

.nav-cabinet__item {
  cursor: pointer;
  border-radius: 24px;
  background: var(--white-liac-color);
  padding: 12px 34px;
  &:hover {
    background: var(--amulet-color);
    color: var(--primary-color);
  }

  &:last-child {
    margin-left: auto;
    @include small-tablet {
      display: none;
    }
  }

  &--active {
    color: #1B2E3F;
    background: var(--light-color);
    font-size: 16px;
    line-height: 22px;

  }
  @include mobile {
    padding: 10px 20px;
  }
}

.nav-cabinet__link {
  color: #B5BBDB;
  font-size: 16px;
  line-height: 22px;
  &:hover {
    color: var(--primary-color);
  }

  &--active {
    color: #1B2E3F;
  }
}
