.container-cabinet-header {
  @include flex-all-sb;

  padding: 12px 24px;
  background-color: var(--light-color);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  @include mobile {
    flex-direction: column;
    justify-content: center;
  }
}

.cabinet-left {
  display: flex;
  align-items: center;
}

.cabinet-right {

  &-btn {
    padding: 12px 18px;
    border-radius: 24px;
    background: #7EA373;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    transition: background-color .2s ease-in-out;;
    &:hover {
      background: #7ea373ef;
    }
    @include mobile {
      margin-top: 15px;
    }
  }

}

.house-number {
  margin-left: 12px;
  display: flex;
  flex-direction: column;

  &-text {
    color: var(--primary-color);
    font-size: 20px;
    line-height: 26px;
  }

  &-date {
    color: #B5BBDB;
    font-size: 12px;
    line-height: 16px;
  }

  span {
    display: block;
  }

}
