.rent-map {
  margin: 24px 0 48px 0;
  &-wrap {
    position: relative;
    svg {
      @include desktop {
        transform: translateX(-13%);
      }
      @include mid-desktop {
        transform: translateX(-25%);
      }
      @include tablet {
        height: 464px;
      }
      @include small-tablet {
        transform: translateX(-36%);
        height: 328px;
      }
      @include mobile{
        transform: translateX(-41%);
        height: 225px;
      }
    }
  }
}



.rent-map-btn {
  cursor: pointer;
  transition: fill .2s ease-in-out  ;

  &-active {
    fill: #bef7a3;
  }
  &:hover {
    fill: #e5ffd9;
  }
}

.rent-home-modal {
  display: none;
}

.rent-home-modal-active {
  display: block;
  position: absolute;
  top: 20%;
  left: 57%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 24px;
  background: var(--light-color);
  @include mobile {
    padding: 16px;
  }


  h2 {
    margin: 0;
    color: #1B2E3F;
    font-size: 22px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 12px;
    @include mobile {
      font-size: 18px;
    }
  }

  button {
    cursor: pointer;
    padding: 12px 18px;
    background: var(--amulet-color);
    border-radius: 24px;
    border: none;
    transition: background-color .2s ease-in-out;

    @include mobile {
      padding: 10px 16px;
    }

    &:hover {
      background: #7ea373ef;
    }

    a {
      color: var(--light-color);
    }
  }


}
