<section class="cabinet">
  <div class="container-cabinet container-cabinet-content">
    <img src="../img/cabinet-content.png" alt="cabinet-content">
    <div class="cabinet-content-right">
      <ul class="tags__list list-reset">
        <li class="tags__item"><a href="#" class="tags__link">#советы</a></li>
        <li class="tags__item"><a href="#" class="tags__link">#рекомендации</a></li>
        <li class="tags__item"><a href="#" class="tags__link">#инструкции</a></li>
      </ul>
      <h2 class="content-right-title">Вызов официанта</h2>
      <p class="content-right-text">
        Вы&nbsp;можете вызвать официанта в&nbsp;беседку вашего домика, в&nbsp;любое и&nbsp;удобное для вас время. Если у&nbsp;вас возникнут какие либо пожелания, то&nbsp;вы&nbsp;всегда можете также предварительно написать о&nbsp;них нашему менеджеру в&nbsp;чате.
      </p>
    </div>
  </div>
</section>
