<section class="cabinet-withdrawal">
  <div class="container-cabinet">
    @include('./header-withdrawal.html')
      <div id="transactions-container" class="transaction-container">
        <div class="transactions-item">
          <div class="transactions-item-left">
            <img src="../img/rub.png" alt="rub">
            <div class="transactions-item-left-wrap">
              <span class="transactions-name">Аренда домика</span>
              <span class="transactions-date">6 марта, 22:13</span>
            </div>
          </div>
          <div class="transactions-item-right">
            <span class="transactions-total">9 999 руб</span>
            <span class="transactions-status">Оплачено</span>
          </div>
        </div>
      </div>
  </div>
</section>
