<section class="cabinet">
  <div class="container-cabinet container-cabinet-content">
    <img class="cabinet-content-img" src="img/cabinet-content.png" alt="cabinet-content">
    <div class="cabinet-content-right">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <h2 class="content-right-title">Вызов официанта</h2>
            <p class="content-right-text">
              Вы&nbsp;можете вызвать официанта в&nbsp;беседку вашего домика, в&nbsp;любое и&nbsp;удобное для вас время.
              Если у&nbsp;вас возникнут какие либо пожелания, то&nbsp;вы&nbsp;всегда можете также предварительно
              написать о&nbsp;них нашему менеджеру в&nbsp;чате.
            </p>
          </div>
          <div class="swiper-slide">
            <h2 class="content-right-title">Получите 100 руб&nbsp;&mdash; 1000 руб за&nbsp;размещение сторис</h2>
            <p class="content-right-text">Выберите соц сеть для размещения сторис. После разместите указанный пост
              в&nbsp;виде сторис и&nbsp;отмедте нас хештегом ястреб.</p>
          </div>
          <div class="swiper-slide">
            <h2 class="content-right-title">Следите за своими финансами</h2>
            <p class="content-right-text">
              Вы можете легко проверить свой баланс, реферальные пополнения, историю транзакций и многое другое прямо на нашей удобной платформе! Мы предоставляем вам все необходимые инструменты для полного контроля и управления вашими финансами.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-btns-wrapper">
        <div class="swiper-btn-prev">
          <svg>
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
        <div class="swiper-btn-next">
          <svg>
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
