<section class="cabinet">
  <div class="container-cabinet container-cabinet-content">
    <img src="../img/cabinet-content.png" alt="cabinet-content">
    <div class="cabinet-content-right">
      <ul class="tags__list list-reset">
        <li class="tags__item"><a href="#" class="tags__link">#советы</a></li>
        <li class="tags__item"><a href="#" class="tags__link">#рекомендации</a></li>
        <li class="tags__item"><a href="#" class="tags__link">#инструкции</a></li>
      </ul>

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- Ваши слайды здесь -->
          <div class="swiper-slide">
            <h2 class="content-right-title">1Вызов официанта</h2>
            <p class="content-right-text">
              Вы&nbsp;можете вызвать официанта в&nbsp;беседку вашего домика, в&nbsp;любое и&nbsp;удобное для вас время.
              Если у&nbsp;вас возникнут какие либо пожелания, то&nbsp;вы&nbsp;всегда можете также предварительно
              написать о&nbsp;них нашему менеджеру в&nbsp;чате.
            </p>
          </div>
          <div class="swiper-slide">
            <h2 class="content-right-title">2Вызов официанта</h2>
            <p class="content-right-text">
              Вы&nbsp;можете вызвать официанта в&nbsp;беседку вашего домика, в&nbsp;любое и&nbsp;удобное для вас время.
              Если у&nbsp;вас возникнут какие либо пожелания, то&nbsp;вы&nbsp;всегда можете также предварительно
              написать о&nbsp;них нашему менеджеру в&nbsp;чате.
            </p>
          </div>
          <div class="swiper-slide">
            <h2 class="content-right-title">3Вызов официанта</h2>
            <p class="content-right-text">
              Вы&nbsp;можете вызвать официанта в&nbsp;беседку вашего домика, в&nbsp;любое и&nbsp;удобное для вас время.
              Если у&nbsp;вас возникнут какие либо пожелания, то&nbsp;вы&nbsp;всегда можете также предварительно
              написать о&nbsp;них нашему менеджеру в&nbsp;чате.
            </p>
          </div>
          <!-- и так далее -->
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
