<section class="cabinet-tasks">
  <div class="container-cabinet">
    @include('./header-tasks.html')
    <div class="tasks-content">
      <div class="tasks-content-left">
        <div class="swiper ">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <h2 class="swiper-slide-title">Получите 100 руб&nbsp;&mdash; 1000 руб за&nbsp;размещение сторис</h2>
              <p class="swiper-slide-decr">Аккаунт, на&nbsp;котором размещается задание, должен быть личным, живым
                и&nbsp;открытым. Ссылка на&nbsp;него принимается только в&nbsp;формате браузерной страницы.
                На&nbsp;момент модерации задание должно быть размещено <span>согласно всем правилам</span>. Статус
                результата модерации вашего задания вы&nbsp;можете увидеть в&nbsp;уведомлениях.</p>
              <p class="swiper-slide-text">Выберите соц сеть для размещения сторис. После разместите указанный пост
                в&nbsp;виде сторис и&nbsp;отмедте нас хештегом ястреб</p>
            </div>
            <ul class="social-task list-reset" title="">
              <li class="social-task__item">
                <a href="#" target="_blank" class="social-task__link social-task__link--fb" aria-label="Наша страничка в ВК">
                  <img src="img/vk.png" alt="VK">
                </a>
              </li>
              <li class="social-task__item">
                <a href="#" target="_blank" class="social-task__link social-task__link--vk"
                  aria-label="Наша страничка во Инстаграмм">
                  <img src="img/inst.png" alt="VK">
                </a>
              </li>
              <li class="social-task__item">
                <a href="#" target="_blank" class="social-task__link social-task__link--vk"
                  aria-label="Наша страничка во Инстаграмм">
                  <img src="img/tiktok.png" alt="VK">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <img class="tasks-content-img" src="img/task-info.png" alt="Ref link">
    </div>

  </div>

  </div>
</section>
