<section class="cabinet-balance">
  <div class="container-cabinet">
    @include('./header-withdrawal.html')
    <div class="ref-content">
      <div class="ref-content-left">
        <span class="your-balance-text">Ваш баланс</span>
        <span class="your-balance-total">999 руб</span>
        <p class="your-balance-text">Для вывода средств прикрепите вашу карту. Минимальная сумма вывода 500 руб.</p>
        <div class="pin-card">
          <div class="pin-card-left">
            <span class="pin-card-left-text">Платежные данные:</span>
            <span class="pin-card-left-number" >0000 0000 0000 0000</span>
          </div>
          <button class="pin-card-btn btn-reset">прикрепить карту</button>
        </div>
      </div>
      <img src="../img/ref-bg.png" alt="Balance pig">
    </div>
  </div>
</section>
