<h2 class="rent-right-title rent-right-title-tel">Подтверждения телефона</h2>
<p class="rent-right-desc">Укажите номер, отправьте запрос, sms с&nbsp;кодом придет в&nbsp;течении 60&nbsp;сек.
  После отправки кода, вам придет sms код с&nbsp;4&nbsp;цифр для подтверждения.
  Лимит до&nbsp;3х&nbsp;sms в&nbsp;день. Если не&nbsp;приходит код, то&nbsp;<span>обратитесь к&nbsp;оператору.</span>
</p>
<div class="rent-tel">
  <input type="tel" name="number-of-days" placeholder="+7____________">
  <button class="rent-tel-btn btn-reset" type="submit">отправить sms код</button>
</div>
