<div class="ref-content-promocode">
  <h2 class="ref-content-left-title ref-content-left-title-promo">Промокод для привлечения</h2>
  <p class="ref-content-left-text">Промокод дает одноразовою скидку&nbsp;10% на&nbsp;услуги бронирования домиков.
    + 5%&nbsp;услуг бронирования на&nbsp;ваш счет, от&nbsp;каждого использованиz промокода</p>
  <div class="input-container">
    <div class="input-wrapper">
      <div class="icon-container">
        <svg>
          <use xlink:href="img/sprite.svg#copy"></use>
        </svg>
      </div>
      <input class="input-container-input" type="text" class="input-field" value="ref3405934-059kdfjsg">
    </div>

    <button class="input-container-btn btn-reset">Подробно</button>
  </div>
</div>
