<div class="ref-content-left-reflink">
  <h2 class="ref-content-left-title">Реферальная ссылка</h2>
  <p class="ref-content-left-text">Получайте 15% от&nbsp;каждой оплаты бронирования клиентов, которые пришли
    по&nbsp;вашей реферальной ссылке.&nbsp;25% от&nbsp;каждого выполненного здания клиентом.</p>
  <div class="input-container">
    <div class="input-wrapper">
      <div class="icon-container">
        <svg>
          <use xlink:href="img/sprite.svg#copy"></use>
        </svg>
      </div>
      <input class="input-container-input" type="text" class="input-field" value="ref3405934-059kdfjsg">
    </div>

    <button class="input-container-btn btn-reset">Подробно</button>
  </div>
</div>
