<section class="event">
  <div class="container container-event">
    <img src="../img/event.png" alt="Event">
    <div class="event-right">
      <h2 class="event-right-title">Пенная вечеринка</h2>
      <p class="event-right-text">Присоединяйтесь к&nbsp;эпической пенной вечеринке! Море пены, профессиональные диджеи, световые шоу, веселье до&nbsp;утра. Незабываемые моменты и&nbsp;яркие впечатления ждут вас. Бронируйте билеты, станьте частью этого уникального события. Не&nbsp;упустите возможность!</p>
      <time datetime="2023-07-12">12 июля 2023</time>
    </div>
  </div>
</section>
