<footer class="footer">
  <div class="container container-footer">
    <div>
      <small class="footer-small">политика конфиденциальности</small>
      <small class="footer-small">публичная оферта</small>
    </div>
    <ul class="social list-reset">
      <li class="social__item">
        <a href="#" target="_blank" class="social__link social__link--fb" aria-label="Наша страничка в Фейсбуке">
          <svg>
            <use xlink:href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link social__link--vk" aria-label="Наша страничка во Вконтакте">
          <svg>
            <use xlink:href="img/sprite.svg#inst"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link social__link--tw" aria-label="Наша страничка в Твиттере">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
