<div class="header-cabinet">
  <nav class="nav-cabinet" title="">
    <ul class="nav-cabinet__list list-reset">
      <li class="nav-cabinet__item nav-cabinet__item--active">
        <a  href="moneypage.html" class="nav-cabinet__link nav-cabinet__link--active">Программа</a>
      </li>
      <li class="nav-cabinet__item">
        <a href="taskspage.html" class="nav-cabinet__link">Задания</a>
      </li>
      <li class="nav-cabinet__item">
        <a href="withdrawal.html" class="nav-cabinet__link">История зачислений</a>
      </li>
    </ul>
  </nav>
</div>
