<div class="header-cabinet">
  <nav class="nav-cabinet" title="">
    <ul class="nav-cabinet__list list-reset">
      <li class="nav-cabinet__item">
        <a href="withdrawal.html" class="nav-cabinet__link">Вывод средств</a>
      </li>
      <li class="nav-cabinet__item nav-cabinet__item--active">
        <a href="enrollments.html" class="nav-cabinet__link--active">Зачисления</a>
      </li>
      <li class="nav-cabinet__item">
        <a href="withdrawal.html" class="nav-cabinet__link">История зачислений</a>
      </li>
    </ul>
  </nav>
</div>
