<header class="header">
  <div class="container-cabinet-header">
    <div class="cabinet-left">
        <img src="img/logo-header.svg" alt="Home Logo">
      <div class="house-number">
        <span class="house-number-text">Домик №3</span>
        <span class="house-number-date">10.21.23 - 10.21.23</span>
      </div>
    </div>

    <div class="cabinet-right">
      <button class="cabinet-right-btn btn-reset">официант в беседку</button>
      <a href="#" class="logo">
        <img src="../img/chat.png" alt="chat">
      </a>
      <a href="#" class="logo">
        <img src="../img/notifications.png" alt="notifications">
      </a>
    </div>

  </div>
</header>
