
<div class="menu">
  <a href="http://localhost:3000" class="logo-cabinet">
    <img src="img/logo.svg" alt="Yastreb Logo">
  </a>
  <ul class="menu-list">
    <li class="menu-list-item">
      <svg>
        <use xlink:href="img/sprite.svg#rub"></use>
      </svg>
      <a class="menu-list-item-link" href="moneypage.html">Зароботок</a>
    </li>
    <li class="menu-list-item">
      <svg>
        <use xlink:href="img/sprite.svg#balance"></use>
      </svg>
      <a class="menu-list-item-link" href="balance.html">Баланс</a>
    </li>
    <li class="menu-list-item">
      <svg>
        <use xlink:href="img/sprite.svg#means"></use>
      </svg>
      <a class="menu-list-item-link" href="withdrawal.html">Средства</a>
    </li>
  </ul>
  <button  class="menu-cabinet-logout btn-reset">
    <svg>
      <use xlink:href="img/sprite.svg#logout"></use>
    </svg>
    <a href="http://localhost:3000" class="menu-cabinet-logout-link">Выход</a>
  </button>

</div>

