<div class="menu">
  <a href="#" class="logo-cabinet">
    <img src="img/logo.svg" alt="Yastreb Logo">
  </a>
  <ul class="menu-list">
    <li class="menu-list-item">
      <svg class="menu-list-item-svg--active">
        <use xlink:href="img/sprite.svg#rub"></use>
      </svg>
      <a class="menu-list-item-link menu-list-item-link--active" href="#">Зароботок</a>
    </li>
    <li class="menu-list-item">
      <svg>
        <use xlink:href="img/sprite.svg#balance"></use>
      </svg>
      <a class="menu-list-item-link" href="#">Баланс</a>
    </li>
    <li class="menu-list-item">
      <svg>
        <use xlink:href="img/sprite.svg#means"></use>
      </svg>
      <a class="menu-list-item-link" href="#">Средства</a>
    </li>
  </ul>
  <button href="#" class="menu-cabinet-logout btn-reset">
    <svg>
      <use xlink:href="img/sprite.svg#logout"></use>
    </svg>
    Выход
  </button>
</div>
